@{
    ViewData["Title"] = "Administration";
}

<h1 class="text-center">Wellcome to Administration area</h1>

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<img src="https://st.depositphotos.com/1002881/1285/i/950/depositphotos_12859789-stock-photo-admin-tag.jpg" alt="admin pic" class="center">

