@model CarViewModel

<div>
    
    
        <div class="col-md-6">
            <label asp-for="Brand">Brand</label>
            <input type="text" class="form-control mb-2" id="Brand">
        </div>
        <div class="col-md-6">
            <label asp-for="CarModel">carModel</label>
            <input type="text" class="form-control mb-2" id="CarModel">
        </div>
        <div class="col-md-6">
            <label asp-for="Mileage">Mileage</label>
            <input type="text" class="form-control mb-2" id="Mileage">
        </div>
    
</div>