@model RefuelViewModel

<form asp-controller="Car" asp-action="Refuel" method="post">
    <div class="form-row align-items-center">
        <div class="col-md-6">
            <label asp-for="Liters">Liters</label>
            <input type="text" class="form-control mb-2" id="Liters">
            <span asp-validation-for="@Model.Liters" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Cost">Cost</label>
            <input type="text" class="form-control" id="Cost">
            <span asp-validation-for="@Model.Cost" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="DrivenKm">DrivenKm</label>
            <input type="text" class="form-control" id="DrivenKm">
            <span asp-validation-for="@Model.DrivenKm" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GasStation">GasStation</label>
            <input type="text" class="form-control" id="Gasstation">
            <span asp-validation-for="@Model.GasStation" class="text-danger"></span>
        </div>
        <br />
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}